/* Perfect Full background image*/
body{
    background-image: url("https://wallpaperplay.com/walls/full/a/f/c/123632.jpg");
    background-size: cover;	
}	

 /*design the container */
 #container{
    margin: 200px 150px 0px 130px;
    width:250px;
    padding: 200px;
    border: 2px solid #333;
    border-radius: 30px;
    background-color: rgb(108, 112, 118 ,1);
    box-shadow:  10px 10px 15px #dba745,
    -10px -10px 15px #dba745;

    }

        /*deisgn the button*/
    #button{
        padding: 15px 18px;
        font-size: 25px;
        font-weight: bolder;
        color: #2a2a2a;
        border-radius: 15px;
        border: 3px solid #525151;
        background-color: #C0B9DD;   
        color: #333;
        cursor: pointer;
        box-shadow: 3px 3px 12px #dba745,
                -3px -3px 12px #dba745;
        transition: background-color 0.9s ease-in;
        position: relative;
        left: 35%;
        margin: -350px -500px -75px -100px;
    }	

    /*at Button hover */
    #button:hover{
        background-color: #2A324B;  
        color: #ffffff;
        border: 3px solid #ffffff;
        box-shadow: 5px 5px 12px #67708d,
                  -5px -5px 12px #67708d;
    }	
           
